<%- include('../pages/partials/head.ejs') %>

    <div class="jumbotron text-center">
        <h1>My First Bootstrap Page</h1>
        <p>Resize this responsive page to see the effect!</p>
    </div>

    <div class="container">
        <%- include('../pages/partials/nav') %>




    </div>


    <%- include('../pages/partials/footer.ejs') %>